<div class="header-row" style="padding: 20px 20px 0 20px;">
    <div class="profile-card" id="profile-card">
        <img id="u-pic" class="avatar" src="">
        <div class="user-details">
            <span id="u-rank" class="rank-title">RECRUIT</span>
            <span id="u-name" class="user-name">Guest</span>
        </div>
    </div>
    <div style="display:flex; gap:10px;">
        <button class="ranks-btn" id="btn-theme" style="width:40px;">☀</button>
        <button class="ranks-btn" id="view-ranks">RANKS</button>
    </div>
</div>
